body {

background: rgb(96, 129, 219);
font: normal 15pt Arial;
}
header{
color: white;
text-align: center;
}
section{
    background: white;
    border-radius: 10px; /* raio arredondado da borda */
    padding: 15px;
    width: 500px;
    height: 500 px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(226, 158, 158);
}
select#flista{
  width: 150px;
  height: 100px;
  
}
input#txtn{
  width: 50px;
}
div#msg{
   
    padding: 25px;
}
footer{
color: white;
text-align: center;
font-style: italic;
}
img{
  border-radius: 60%;
  width: 300px;
  height:300px;
  margin-left:100px;
}
